@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");
@import "tailwindcss";

/* Fix for styling the date input placeholder */
@layer components {
  .date-input {
    @apply relative;
  }
  .date-input::-webkit-calendar-picker-indicator {
    @apply absolute right-4 opacity-70 cursor-pointer;
  }
  .date-input:invalid:before {
    content: attr(data-placeholder);
    @apply absolute left-4 text-stone-500;
  }
  .date-input:valid:before,
  .date-input:focus:before {
    @apply hidden;
  }
}
